*.class
*.log
*.swp
.#*

# sbt specific
dist/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.cache
.classpath
.project
.worksheet/
bin/
.settings/
.idea
*.ipr
*.iws

# OS X
.DS_Store

# Tags
.tags
GPATH
GRTAGS
GTAGS

# ENSIME
.ensime
.ensime_cache/
ensime.sbt

archive
smartgcal
.jvmopts
