*.class
*.log
*.iml
.DS_Store
*.pem

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
sbt-ctags-dep-srcs/
buildinfo.properties

# Scala-IDE specific
.scala_dependencies
.worksheet

# Idea specific
.idea/

# Ensime
.ensime
.ensime_cache/
.#*

# Node modules
node_modules/

# Project specific
modules/edu.gemini.seqexec.web/edu.gemini.seqexec.web.server/log/
