language: scala
scala:
  - 2.12.2
jdk:
  - oraclejdk8
# These directories are cached to S3 at the end of the build
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete
install:
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable
  - npm install jsdom
before_script:
  - sudo apt-get install -y rpm
script:
  - sbt -J-Xmx3G -J-XX:-UseGCOverheadLimit headerCheck test:headerCheck scalastyle test
