  /* CSS used with the static version of the page, used for development only */
  body {
    background-color: #FFFFFF;
  }
  .main.container {
    margin-top: 0em;
  }

  @media only screen and (max-width: 767px) {
    .ui.container {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
   }

  .main.menu .item img.logo {
    margin-right: 1.5em;
  }


   // Missing

  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }

  @media only screen and ( max-width: 767px ) {
    .not.mobile {
      display: none !important;
    }
  }

  @media only screen and ( min-width: 768px ) {
    .only.mobile {
      display: none !important;
    }
  }

 .ui.scroll.pane {
   overflow: auto;
   max-height: 17.3em;
 }

 .ui.scroll.pane.attached.segment {
   padding: 0;
 }
 .ui.scroll.pane.attached.segment > .ui.table {
   border: 0;
 }
