name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 16
      - name: Set up Scala
        uses: olafurpg/setup-scala@v12
        with:
          java-version: openjdk@1.17.0
      - name: Cache Coursier
        uses: actions/cache@v3.3.2
        with:
          path: ~/.cache/coursier
          key: sbt-coursier-cache
      - name: Cache SBT
        uses: actions/cache@v3.3.2
        with:
          path: ~/.sbt
          key: sbt-${{ hashFiles('**/build.sbt') }}
      - name: Check format
        run: sbt headerCheck test:headerCheck scalafmtCheckAll
      - name: Run tests
        run: sbt +compile seqexec_modelJVM/test seqexec_modelJS/test seqexec_engine/test seqexec_server/test seqexec_web_server/test seqexec_web_client/test
